<div>
  <div class="page-header">
    <h1>Artist Lookup</h1>
  </div>
  <p class="lead">Type the name of an artist to find similar artists with Creative Commons-licensed music.</p>

  <div class="input-group spacer">
    {{input type="text" value=query class="form-control" action="query"}}
    <div class="input-group-btn">
      <button class="btn btn-default" {{action "query"}}>Look Up</button>
    </div>
  </div>

  {{#each results}}
    <div class="panel panel-default">
      <div class="panel-heading">{{name}}</div>
      <div class="list-group">
      {{#each links}}
        <a {{bind-attr href=url}} class="list-group-item">{{display_name}}</a>
      {{/each}}
      </div>
    </div>
  {{else}}
    {{#if name}}
      <div class="panel panel-default">
        <div class="panel-body">
          No artist found.
        </div>
      </div>
    {{/if}}
  {{/each}}
</div>
