<div>
  {{input type="text" value=query action="query"}}
  {{#each results}}
    <h3>{{name}}</h3>
    <ul>
    {{#if jamendo_url}}
      <li><a {{bind-attr href=jamendo_url}}>Jamendo</a></li>
    {{/if}}
    {{#if magnatune_url}}
      <li><a {{bind-attr href=magnatune_url}}>Magnatune</a></li>
    {{/if}}
    </ul>
  {{else}}
  <p>No artist found.</p>
  {{/each}}
</div>
