<div>
  <h1>Artist Lookup</h1>
  <p class="lead">Type the name of an artist with Creative Commons-licensed music to find their websites.</p>
  <form>
    {{input type="text" value=query}}
    <button {{action "query"}}>Look Up</button>
  </form>
  {{#each results}}
    <h3>{{name}}</h3>
    <ul>
    {{#if jamendo_url}}
      <li><a {{bind-attr href=jamendo_url}}>Jamendo</a></li>
    {{/if}}
    {{#if magnatune_url}}
      <li><a {{bind-attr href=magnatune_url}}>Magnatune</a></li>
    {{/if}}
    </ul>
  {{else}}
  <p>No artist found.</p>
  {{/each}}
</div>
