<div>
  <div class="page-header">
    <h1>Artist Lookup</h1>
  </div>
  <p class="lead">Type the name of an artist to find similar artists with Creative Commons-licensed music.</p>

  <div class="input-group spacer">
    {{input type="text" value=query class="form-control" action="query"}}
    <div class="input-group-btn">
      <button class="btn btn-default" {{action "query"}}>
        {{#if loading}}
          <span class="loading glyphicon glyphicon-refresh spin"></span>
        {{/if}}
        Look up
      </button>
    </div>
  </div>

  {{#each results as |artist|}}
    <div class="panel panel-default">
      <div class="panel-heading">{{artist.name}}</div>
      <div class="list-group">
      {{#each artist.links as |link|}}
        <a {{bind-attr href=link.url}} class="list-group-item">{{link.display_name}}</a>
      {{/each}}
      </div>
    </div>
  {{else if loading}}
    <div class="well">
      Loading...
    </div>
  {{else if name}}
    <div class="panel panel-default">
      <div class="panel-body">
        No artist found.
      </div>
    </div>
  {{/each}}
</div>
