<div class="page-header">
  <h1>Donate</h1>
</div>

<p class="lead">There are no ads on this website and no one pays us to promote their work.  This is a volunteer-run project that runs on kind donations.  If you'd like to see this website keep running, please consider donating below.</p>

<h2>Donate to Free Music Ninja</h2>

<p>You can support us with recurring weekly micro-donations on <a href="https://gratipay.com/FreeMusicNinja/">Gratipay</a>.  Suggested donations range from $1 to $5 but any amount helps.</p>

<script data-gratipay-username="FreeMusicNinja" src="//gttp.co/v1.js"></script>

<h2>Volunteers</h2>

<ul>
  {{# each donors }}
  <li class="media">
    <a class="pull-left" {{ bindAttr href="this.url" }}>
      <img class="media-object" {{ bindAttr src="this.photo" }}>
    </a>
    <div class="media-body">
      <h3 class="media-heading"><a {{ bindAttr href="this.url" }}>{{ this.name }}</a></h3>

      <p>{{ this.about }}</p>
      <p>Currently {{ this.name }} has spent approximately:</p>

      <ul>
        {{# each this.donated }}
        <li>{{ this }}</li>
        {{/ each }}
      </ul>

    </div><!-- /.media-body -->
  </li><!-- /.media -->
  {{/ each }}
</ul>
